* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  overflow: hidden;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  border: 2px solid red;
}

#UI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}